langchain
langchain-community
langchain-openai
openai
chromadb
tiktoken
tabulate
sqlalchemy
sqlalchemy-bigquery
google-cloud-bigquery
google-cloud-bigquery-storage
flask
gunicorn
BeautifulSoup4
colorama
slack-bolt
pyarrow
slack
slackclient